---
name: Test report
about: Create a report to help us improve
title: ''
labels: ''
assignees: ''

---

---
name: Test Report
about: 버그 제보
labels: bug
---

## 리뷰
점심 식사 리뷰하기

## 평가
- [ ] 맛
- [ ] 청결한가?
- [ ] 친절한가?
- [ ] 추천하는가?


## 위치
- 도보 시간
